# Python
python-dotenv

# Django
Django~=4.1
djangorestframework
django-filter
django-cors-headers
django-cleanup

# Miscroservices
dj-ms-auth-router==0.0.2

# Databases
psycopg2-binary
dj-database-url

# Deployment
gunicorn

# Cache
django-redis
redis

# Async Celery tasks
celery
django-celery-beat

# Sentry
#sentry-sdk